@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700;800&family=Roboto&display=swap');

@import "tailwindcss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F1F5F9;
}